In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("spam.csv")

In [4]:
df.head()

  Label                                          EmailText
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [5]:
df["Label"] = df["Label"].map({"ham":0, "spam":1})

In [6]:
df.head()

   Label                                          EmailText
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [7]:
x=df["EmailText"]
y=df["Label"]

In [8]:
from sklearn.feature_extraction.text import CountVectorizer

In [9]:
cv = CountVectorizer()

In [10]:
x = cv.fit_transform(x)

In [11]:
x

<5572x8679 sparse matrix of type '<class 'numpy.int64'>'
	with 73767 stored elements in Compressed Sparse Row format>

In [12]:
x.shape

(5572, 8679)

In [13]:
y

0       0
1       0
2       1
3       0
4       0
       ..
5567    1
5568    0
5569    0
5570    0
5571    0
Name: Label, Length: 5572, dtype: int64

In [14]:
y.shape

(5572,)

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
train_x, test_x, train_y, test_y = train_test_split(x, y, test_size=0.2)

In [17]:
test_x

<1115x8679 sparse matrix of type '<class 'numpy.int64'>'
	with 14924 stored elements in Compressed Sparse Row format>

In [18]:
test_y

4235    1
610     1
262     0
4463    0
371     0
       ..
4084    1
2620    0
641     0
49      0
794     0
Name: Label, Length: 1115, dtype: int64

In [19]:
test_x.size

14924

In [20]:
len(test_y)

1115

In [21]:
from sklearn.naive_bayes import MultinomialNB

In [22]:
model = MultinomialNB()

In [23]:
model.fit(train_x, train_y)

MultinomialNB()

In [24]:
model.score(test_x, test_y) * 100

98.29596412556054

In [25]:
msg = "you need to create a report for that"
data = [msg]
vect = cv.transform(data).toarray()
result = model.predict(vect)
result

array([0], dtype=int64)

In [26]:
msg = "free 10 million"
data = [msg]
vect = cv.transform(data).toarray()
result = model.predict(vect)
result

array([1], dtype=int64)

In [27]:
import pickle

In [28]:
pickle.dump(model, open("spam.pkl", "wb"))
pickle.dump(cv, open("vectorizer.pkl", "wb"))

In [29]:
clf=pickle.load(open("spam.pkl","rb"))

In [30]:
clf

MultinomialNB()