In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r"spam.csv")

In [3]:
df.head()

  Label                                          EmailText
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [7]:
df["Label"] = df["Label"].map({"ham":0, "spam":1})

In [8]:
df.head()

   Label                                          EmailText
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [9]:
x=df["EmailText"]
y=df["Label"]

In [12]:
from sklearn.feature_extraction.text import CountVectorizer

In [13]:
cv = CountVectorizer()

In [15]:
x = cv.fit_transform(x)

In [16]:
x

<5572x8679 sparse matrix of type '<class 'numpy.int64'>'
	with 73767 stored elements in Compressed Sparse Row format>

In [17]:
x.shape

(5572, 8679)

In [18]:
y

0       0
1       0
2       1
3       0
4       0
       ..
5567    1
5568    0
5569    0
5570    0
5571    0
Name: Label, Length: 5572, dtype: int64

In [19]:
y.shape

(5572,)

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
train_x, test_x, train_y, test_y = train_test_split(x, y, test_size=0.2)

In [26]:
test_x

<1115x8679 sparse matrix of type '<class 'numpy.int64'>'
	with 14960 stored elements in Compressed Sparse Row format>

In [27]:
test_y

4943    0
4271    0
696     0
511     0
878     1
       ..
4451    0
100     0
1374    1
656     0
4249    0
Name: Label, Length: 1115, dtype: int64

In [28]:
test_x.size

14960